
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <br><br><br>
      <h2>DEPOSIT</h2>
    </div>
    <div class="flip-box-back">
      <br><br><br>
      <a routerLink = "/new-deposit"><h2>Deposit Money to your Account</h2></a>
    </div>
  </div>
</div>

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <br><br><br>
      <h2>WITHDRAW</h2>
    </div>
    <div class="flip-box-back">
      <br><br><br>
      <a routerLink = "/new-withdraw"><h2>Withdraw Money from your Account</h2></a>
    </div>
  </div>
</div>

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <br>
      <br><br>
      <h2>TRANSFER</h2>
    </div>
    <div class="flip-box-back">
      <br><br><br>
      <a routerLink = "/new-transfer"><h2>Transfer Money from your Account to another Account</h2></a>
    </div>
  </div>
</div>

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <br><br><br>
      <h2>CHECK <br>BALANCE</h2>
    </div>
    <div class="flip-box-back">
      <br><br><br>
      <a routerLink = "/new-balance"><h2>Bank Balance in your Account</h2></a>
    </div>
  </div>
</div>

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <br>
      <br><br>
      <h2>PRINT<br> TRANSACTION</h2>
    </div>
    <div class="flip-box-back">
      <br><br><br>
      <a routerLink = "/new-transaction"><h2>Displays your transaction details</h2></a>
    </div>
  </div>
</div>