<div class="container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class='card p-3 bg-light' style="border:1px solid #ccc">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr><br>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="username"><b>Username</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input type="text" class="form-control" placeholder="Enter Username" formControlName="username" required [(ngModel)]="wallet.username">
        </div>
        <div *ngIf="submitted && balanceForm.controls.username.errors" class="error">
          <div class="text-danger" *ngIf="balanceForm.controls.username.errors.required">
            <font color="red">Username is required..</font>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="password"><b>Password</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" required [(ngModel)]="wallet.password">
        </div>
        <div *ngIf="submitted && balanceForm.controls.password.errors" class="error">
          <div class="text-danger" *ngIf="balanceForm.controls.password.errors.required">
            <font color="red">Password is required..</font>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="phone_Number"><b>Phone Number</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="phone_Number" required [(ngModel)]="wallet.phone_Number">
        </div>
        <div *ngIf="submitted && balanceForm.controls.phone_Number.errors" class="error">
          <div class="text-danger" *ngIf="balanceForm.controls.phone_Number.errors.required">
            <font color="red">Phone Number is required..</font>
          </div>
        </div>
      </div>
    </div>
    <br>
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <br>
    <div class="offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
