/* Style the links in the page */
  a{
      text-decoration: none;
      color: inherit;
      cursor: pointer;
  }

/* Style the navigation bar */
  .topnav {
    background:black;
    overflow: hidden;
    height: 50px;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    margin-right: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  /* Style the heading */
  h3{
    color: white;
  }

  /* Style the div of vertical menu */
  .verticalmenu{
    width: 25%;
    float: left;
   
  }

  /* Style the info div */
  .info{
    width: 75%;
    float: right;
  }

  /* Style the image in div ad */
  .ad img{
    width: 100%;
  }


  .btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%;
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  /* Style the detail div */
  .detail{
    width: 50%;
    float: left;
    height: 100%;
  }

  /* Style the icon div */
  .icon{
    width: 50%;
    height: 100%;
    float: right;
    
  }

  /* Style the image with class icon1 */
  .icon1{
    width: 40%;
    height: 40%;
    margin-left: 20%;
    margin-top: 15%;
    
  }

  /* Style the table data */
  td{
    size: 6;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 14pt;
  }

  /* Style the table */
  table{
    margin-left: 25%;
  }

  /* Style the heading */
  h1{
    font-family:Arial, Helvetica, sans-serif;
  }