/* styling the div image */
  .image{
    height:50em; 
    background-size:cover;
    width:auto;
    background-image:url('/background.jpg');
    background-position:50% 50%;
  }

  /* styling the logo image */
  img{
    height: 100px;
    width: 15%;
    float: left;
  }

  /* styling the heading */
  h1{
    padding-top: 30px;
    text-align: center;
    color: #ff4259;
  }

  /* styling the div header1 */
  .header1{
    height: 100px;
  }