<div class="image">
  <div class="header1">
    <img src="logo.jpg" alt="Logo">
    <h1>Welcome To Leo Bank</h1>
  </div>

  <!-- Acts as a placeholder that Angular dynamically fills based on current router state -->
  <router-outlet></router-outlet>

</div>
<footer class="page-footer" style="background-color: black; ">

  <!-- Copyright -->
  <div class="footer-copyright" style="text-align: center; color: white;">
    <br>© 2020 Copyright: Vishruti Malviya<br>
  </div>
  <!-- Copyright -->

</footer>