<br>
<div>
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10">
   
    <br>
    <br>
    <table class="table" border="4">
        <thead>
          <th>Account Number</th>
          <th>Beneficiary Account Number</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Time</th>
        </thead>
        <tbody>
          <tr *ngFor="let t of result">
            <td>{{t.accountNumber}}</td>
            <td>{{t.beneficiaryAccount}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.type}}</td>
            <td>{{t.date}}</td>
            <td>{{t.time}}</td>
          </tr>
        </tbody>
    </table>
  </div><br>
  <button class="btn btn-primary" (click)="do()">Back</button>
</div>
<div class="icon">
  <img src="print.png" alt="Deposit" class="icon1" >
</div>
</div>