<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>
    <style>
      div{
        height: 100px;
        background-color: cornsilk;
      }
      img{
        height: 100px;
        width: 15%;
        float: left;
      }
      h1{
        padding-top: 30px;
        text-align: center;
        color: red;
      }
    </style>
  </head>
  <body>
    
    <div>
      <img src="logo.jpg" alt="Logo">
      <h1>Welcome To ABC Bank</h1>
    </div>
    
      <div class="topnav">
      <a routerLink = "" class="active">Home</a>
      <a routerLink = "new-signup">Sign-Up</a>
      <a routerLink = "new-login">Login</a>
      
    </div>
   
    
    <router-outlet></router-outlet>
    
  </body>
</html>